/* *******************************************************************
            Modal

**********************************************************************/

.kura_tm_modalbox.opened {
  opacity: 1;
  visibility: visible;
}

.kura_tm_modalbox .box_inner {
  position: absolute;
  top: 70px;
  bottom: 70px;
  width: 900px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
  margin-top: -20px;
  transition-delay: 0.3s;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.kura_tm_modalbox .close {
  position: fixed;
  left: 100%;
  top: 0px;
  margin-left: 20px;
  z-index: 111111;
}
.kura_tm_modalbox .close a {
  text-decoration: none;
  color: #fff;
}
.kura_tm_modalbox .close a .svg {
  width: 50px;
  height: 50px;
}
.kura_tm_modalbox .description_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 50px;
  overflow-y: scroll;
}
.kura_tm_hero .popup_informations {
  z-index: -11;
}
.kura_tm_modalbox .popup_informations {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.kura_tm_modalbox .popup_informations .image {
  position: relative;
  margin-bottom: 37px;
}
.kura_tm_modalbox .popup_informations .image img {
  position: relative;
  opacity: 0;
  min-width: 100%;
}
.kura_tm_modalbox .popup_informations .image .main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.kura_tm_modalbox .popup_informations .title {
  width: 100%;
  float: left;
  margin-bottom: 22px;
}
.kura_tm_modalbox .title h3 {
  font-size: 22px;
  font-weight: 700;
}
.kura_tm_modalbox .description {
  width: 100%;
  float: left;
}
.kura_tm_modalbox .description p {
  margin-bottom: 15px;
}
.kura_tm_modalbox .description p:last-child {
  margin-bottom: 0px;
}
.kura_tm_modalbox .description_wrap::-webkit-scrollbar {
  width: 11px;
}
.kura_tm_modalbox .description_wrap {
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
.kura_tm_modalbox .description_wrap:-webkit-scrollbar-track {
  background: #fff;
}
.kura_tm_modalbox .description_wrap::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #fff;
}

/* responsive */
@media (max-width: 1400px) {
  .kura_tm_modalbox .box_inner {
    width: 700px;
  }
  .kura_tm_modalbox .main_details {
    flex-direction: column;
  }
  .kura_tm_modalbox .main_details .textbox {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .kura_tm_modalbox .main_details .detailbox {
    width: 100%;
  }
  .kura_tm_modalbox .additional_images ul {
    margin: 0px;
  }
  .kura_tm_modalbox .additional_images ul li {
    width: 100%;
    padding-left: 0px;
  }
}

@media (max-width: 1040px) {
  .kura_tm_modalbox .box_inner {
    width: 500px;
  }
  .kura_tm_modalbox .close .svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .kura_tm_modalbox .portfolio_main_title h3 {
    font-size: 20px;
  }
  .kura_tm_main_title h3 {
    font-size: 25px;
  }
  .kura_tm_main_title span {
    margin-bottom: 6px;
  }
  .kura_tm_timeline .timeline_list ul li .list_inner {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 15px;
  }
  .kura_tm_timeline .timeline_list ul li .list_inner:last-child {
    margin-bottom: 0px;
  }
  .kura_tm_pricing .right ul li span {
    font-size: 16px;
  }
  .kura_tm_news .news_list .list_inner .svg {
    width: 35px;
    height: 35px;
    top: 33px;
    right: 32px;
  }
  .kura_tm_news .news_list .details {
    padding: 0px 30px 36px 39px;
  }
  .kura_tm_news .news_list .details h3 {
    font-size: 18px;
  }
  .kura_tm_contact .short ul li .list_inner span {
    font-size: 16px;
  }
  .kura_tm_copyright .copyright_inner {
    flex-direction: column;
  }
  .kura_tm_copyright .copyright_inner .text {
    margin-bottom: 10px;
  }
  .kura_tm_modalbox .box_inner {
    width: 360px;
  }
  .kura_tm_modalbox .close .sizer {
   height: 25px !important;
   width: 25px !important;

  }
  .kura_tm_modalbox .close {
    margin-left: 10px;
  }
  .kura_tm_modalbox .description_wrap {
    padding: 30px;
  }
  .kura_tm_modalbox .title h3 {
    font-size: 20px;
  }
  .kura_tm_modalbox .news_popup_informations .details h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
   .kura_tm_modalbox .close {
    margin-left: -45px;
  }

  .kura_tm_modalbox .close .sizer {
   height: 25px !important;
   width: 25px !important;

  }
}